<html>
	<head>
    <link type="text/css" rel="stylesheet" href="inicial.css"/>
    <link type="text/css" rel="stylesheet" href="custombootstrap.css"/>
		<title>HIV control</title>
	</head>
	<body>
    	<div id="header">Titulo / Logo
    	</div>

    	<div id="imagem"><img src="DNA2.png"></div>
    	<div id="login">
    		<form>
    			Usuario:<br>
    			<input type="text" name="usuario"><br>
                E-mail:<br>
                <input type="text" name="email"><br>
    			Senha:<br>
    			<input type="password" name="senha"><br>
				<input type="submit" value="Cadastrar"><br>
    		</form>
    	</div>

	</body>
</html>