<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="back06.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="carosel">Bem-Vindo A Central De Medicina</h1>
          <p class="lead">Usufrua de alta tecnologia para cuidar de seus pacientes!</p>

        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://twitter.github.io/bootstrap/assets/img/examples/slide-02.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="carosel">Indo além de hospitais</h1>
          <p class="lead">O nosso objetivo é levar a medicina à nuvem!</p>
          <a class="btn btn-large btn-primary" href="#">Veja mais</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="back03.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="carosel">INTERESSADO?</h1>
          <p class="lead">Estamos de porta aberta para você!</p>
          <%= link_to "Cadastre-se Agora" , "/signup" , class: "btn btn-large btn-primary"  %>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>