<% provide(:title, 'Contact') %>
<h1>Export</h1>
<p>

<div>
  <h2>Export Products</h2>

  <p>
    Download:
    <%#= link_to "CSV", medicamentos_path(format: "csv") %>
    <%= link_to "Excel", "/export.xls" %>
  </p>




</div>
</p>
