<html>
	<head>
    <link type="text/css" rel="stylesheet" href="inicial.css"/>
    <link type="text/css" rel="stylesheet" href="custombootstrap.css"/>
		<title>HIV control</title>
	</head>
	<body style="background-color: #E0E4CC;">
    	<div id="header">Titulo / Logo
    	</div>

    	<div id="imagem"><img src="DNA2.png"></div>
    	<div id="login">
    		<form>
    			Usuario:<br>
    			<input type="text" name="usuario"><br>
    			Senha:<br>
    			<input type="password" name="senha"><br>
				<input type="submit" value="Entrar"><br>
				<a href="cadastroUsuario.html">Cadastre-se!</a>
    		</form>
    	</div>
	</body>
</html>