<html>
	<head>
    <link type="text/css" rel="stylesheet" href="inicial.css"/>
    <link type="text/css" rel="stylesheet" href="custombootstrap.css"/>
		<title>HIV control</title>
	</head>
	<body>
    <div id="header">Titulo / Logo
    </div>

    <div id="left">
        <a href="buscarPaciente.html"><div class="listaMenu">Buscar Paciente</div></a>
        <div class="divisorMenu"></div>
        <a href="importarArquivo.html"><div class="listaMenu">Importar Arquivo</div></a>
        <div class="divisorMenu"></div>
        <a href="cadastrarInformacoes.html"><div class="listaMenu">Cadastrar Informacoes</div></a>
        <div class="divisorMenu"></div>
        <a href="buscaPersonalizada.html"><div class="listaMenu">Busca Personalizada</div></a>
        <div class="divisorMenu"></div>
        <a href="exportarArquivo.html"><div class="listaMenu">Exportar Arquivo</div></a>
        <div class="divisorMenu"></div>
    </div>

    <div id="rigth">

    </div>
	</body>
</html>