<div class="hero-unit">
  <h1>Medicamentos</h1>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      dsds
    </div>
    <div class="span10">
      <!--Body content-->
      fafa
    </div>
  </div>
</div>