#header {
	background-color: black;
	color: white;
	height: 40px;
	width:100%;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-top: 20px;
	padding-left: 18%;
	font-size: 20px;
}

#left {
	/*background-color: #A8BFBF;*/
	background-color: #C6E2FF;
	height: 100%;
	width: 15%;
	position: fixed;
	top: 63px;
	left: 0px;
}

#rigth{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 63px;
	left: 15.2%;
	/*background-color: white;*/
	background-color: #E0E4CC;
}

#busca{
	padding-left: 100px;
	padding-top: 50px;
}

#resultadoBusca{
	display: none;
	padding-left: 100px;
	padding-top: 30px;
}

.divisorMenu{
	height: 3px;
	background-color: white;
}

.listaMenu{
	font-weight: bold;
	height: 5%;
	text-align: center;
	padding-top: 8%;
	color: black;
}

#listaSelecionado{
	background-color: #3f92d2;
	color: white;
}

#inputText{
	height: 26px;
}

#imagem{
	position: fixed;
	top: 60px;
	left: 0px;
	height: 100%;
}

#login{
	border: 2px solid black;
	border-radius: 5px;
	position: fixed;
	display: block;
	height: 200px;
	width: 300px;
	top: 35%;
	left: 1050px;
	background-color: #C6E2FF;
}