<div class="content">
    <div class="left_column">
        <div class="left_column_menu">
            <section>
		        <h1> O que fazer?</h1>
		      </section>
		       <li><%= link_to "Dados dos Pacientes", patients_path %></li>
		       <li><%= link_to "Importar Arquivos", import_path %></li>
		         <li><%= link_to "Entrar Dados", manual_path %></li>
        </div>
    </div>
</div>